{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="card-title">排酸称重</div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" method="post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="sg_no" class="control-label col-sm-4">收购编号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="sg_no" name="sg_no" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}