<div class="card">
    <div class="card-header">
        <div class="card-title">收购环节称重</div>
        <div class="pull-right card-action">
            <div role="group">
                <input type="text" >
                <button type="button" class="btn btn-primary"> 打印 </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="datatable table table-striped dataTable">
            <thead>
                <tr role="row">
                    <th>流水号</th>
                    <th>收购批次</th>
                    <th>时间</th>
                    <th>交货人</th>
                    <th>数量</th>
                    <th>重量</th>
                    <th>规格</th>
                    <th>品种</th>
                    <th>操作员</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>