<div class="row">
    <div class="card">
        <div class="card-header">
            <div class="card-title">收购环节称重</div>
            <div class="pull-right card-action">
                <div role="group">
                    <button type="button" class="btn btn-primary"> 称重 </button>
                    <button type="button" class="btn btn-primary"> 提交 </button>
                    <button type="button" class="btn btn-primary"> 提交并打印 </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                    <div class="form-group">
                        <label for="number" class="col-sm-3 control-label">数量</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="number" name="number" placeholder="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mz_weight" class="col-sm-3 control-label">毛重</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="mz_weight" name="mz_weight" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pz_weight" class="col-sm-3 control-label">皮重</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="pz_weight" name="pz_weight" placeholder="0">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="jz_weight" class="col-sm-3 control-label">净重</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="pz_weight" name="jz_weight" placeholder="0" style="color: red; font-weight: bolder">
                        </div>
                    </div>
                </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="cz_datetime" class="col-sm-3 control-label">时间</label>
                            <div class="col-sm-9">
                                <input type="datetime-local" class="form-control" id="cz_datetime" name="cz_datetime" placeholder="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sg_source" class="col-sm-3 control-label">来源</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="sg_source" name="sg_source" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="single_price" class="col-sm-3 control-label">单价</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="single_price" name="single_price" placeholder="0.00">
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <label for="total_price" class="col-sm-3 control-label">总金额</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="total_price" name="total_price" placeholder="0.00" style="font-weight: bolder; color: red">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="id_card" class="col-sm-3 control-label">身份证</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="id_card" name="id_card" placeholder="身份证号码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cust_name" class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="cust_name" name="cust_name" placeholder="农户姓名自动获取">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-sm-3 control-label">联系电话</label>
                            <div class="col-sm-9">
                                <input class="form-control" id="mobile" name="mobile" placeholder="联系电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-3 control-label">详细地址</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="address" name="address" placeholder="详细地址"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">本次称重记录</div>
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>数量</th>
                                        <th>毛重</th>
                                        <th>皮重</th>
                                        <th>净重</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>200</td>
                                        <td>10</td>
                                        <td>190</td>
                                        <td width="200px" style="padding: 0px">
                                            <div class="btn-group-xs" style="margin: 0px 20px">
                                                <button type="button" class="btn btn-primary"> 重新称重 </button>
                                                <button type="button" class="btn btn-primary"> 删除 </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>200</td>
                                        <td>10</td>
                                        <td>190</td>
                                        <td width="200px" style="padding: 0px">
                                            <div class="btn-group-xs" style="margin: 0px 20px">
                                                <button type="button" class="btn btn-primary"> 重新称重 </button>
                                                <button type="button" class="btn btn-primary"> 删除 </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>200</td>
                                        <td>10</td>
                                        <td>190</td>
                                        <td width="200px" style="padding: 0px">
                                            <div class="btn-group-xs" style="margin: 0px 20px">
                                                <button type="button" class="btn btn-primary"> 重新称重 </button>
                                                <button type="button" class="btn btn-primary"> 删除 </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td> 共称重 1 次 </td>
                                        <td> 合计数据 20 只 </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> 总重量：200 公斤 </td>
                                        <td> 合计金额：3000 元 </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>