{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-title">活体收购称重台账</div>
        <div class="pull-right card-action">
            <div role="group">
                <input type="text" >
                <button type="button" class="btn btn-primary"> 打印 </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="table1" class="datatable table table-striped dataTable">
            <thead>
                <tr role="row">
                    <th data-field="id">流水号</th>
                    <th data-field="sg_no">收购批次</th>
                    <th data-field="sg_datetime">时间</th>
                    <th data-field="customer" data-formatter="custFormatter">交货人</th>
                    <th data-field="cz_number3">数量</th>
                    <th data-field="cz_weight3">酮体收购重量</th>
                    <th data-field="c_standard">规格</th>
                    <th data-field="c_type">品种</th>
                    <th data-field="user">操作员</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/page/ttcz_list.js' %}"></script>
{% endblock %}